footer{
    height: 30rem;
    background: linear-gradient(to bottom, transparent 0%, black 30%);
}

.footerCenter{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    text-decoration: none;
    margin: 1rem;
    border: none;
    border-radius: 100%;
    transition: 300ms all ease-out;
    i{
        font-size: 1.7rem;
        color: black;
        transition: 300ms all ease-out;
    }
}
 
.facebook:hover{
    background: #29487d;
    i{
    color: white;
    }
}

.twitter:hover{
    background: #38a1f3;
    i{
        color: white;
    }
}

a.instagram:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    i {
        color: white;
    }
}

a.youtube:hover{
    background: white;
    i{
        color: #FF0000;
    }
}

.footerNavigation{
    color: white;
    text-decoration: none;
    transition: 300ms;
    margin: 0 0.9rem;
}

.footerNavigation:hover{
    font-weight: 800;
}
