@media screen and (max-width: 768px) {
    #Header{
        z-index: 1;
        position: absolute;
        width: 100%;
    }
    .navbarVec{
        margin: 0 auto;
        width: fit-content;
    }
    .navbarVec:after{
        right: 0rem !important;
    }
}

@media screen and (min-width: 768px) {
    #Header{
        z-index: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 620px) {
    #textMain{
        margin: 4rem 1rem;
        max-width: 37rem;
    }
}

@media screen and (min-width: 620px) {
    #textMain{
        margin: 4rem auto;
        max-width: 37rem;
    }
}

html{
    max-width: 100vw;
    overflow-x: hidden;
}

footer{
    height: 15rem !important;
    background: transparent !important;
}

#body{
    background-color: #6C7B8B;
}

.textColor{
    color: #FFFFCC !important;
}

#hlavnyNadpis{
    font-size: 3rem;
}

.navbar-nav{
    margin: 0 auto;
}

.pozadie{
    height: 100vh;
    background-image: url(./obrazky/tobias-keller-2ecH5Lw3zSk-unsplash.png);
    background-size: cover;
    position: relative;
}

.centrovanie{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    color: rgb(255, 255, 255);
    text-align: right;
}

.navbarVec{
    /* color: rgb(255, 255, 255) !important; */
    position: relative;
}

.navbarVec:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    transition: all 300ms ease-in;
    bottom: 15%;
    right: 0.5rem;
    background-color: #FFFFCC;
}

.navbarVec:hover::after {
    width: 60%;
}

.stlpceKontajner{
    overflow: hidden;
    position: relative;
    font-family: "Raleway", sans-serif;
}

.stlpce{
    height: 75vh;
    background-position: center;
    background-size: cover;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.stlpce:hover{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.stlpceKontajner h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    color: #fff;
}

.stlpec1{
    background-image: url(./obrazky/samuel-girven-VJ2s0c20qCo-unsplash.jpg);
}

.stlpec2{
    background-image: url(./obrazky/Screenshot\ 2024-05-13\ 102919.png);
}

.stlpec3{
    background-image: url(./obrazky/walkator-klMii3cR9iI-unsplash.jpg);
}

.stlpec4{
    background-image: url(./obrazky/Stredná_priemyselná_škola_elektrotechnická_Zochova_9.jpg);
}